<h1>Hi admin</h1>

<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>
<% if flash[:alert] %>
    <%= flash[:alert] %>
<% end %>

<li><strong>login_account)id:</strong> <%= session[:login_account_id].inspect %></li>

<%= link_to "Logout", log_out_login_account_index_path, class: "btn btn-primary" %>